let mapleader=" "

set NERDTree
set surround
set scrolloff=15

set nu
set relativenumber

map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <F3> <Action>(ReformatCode)
map <leader>fb <Action>(RecentFiles)
map <leader>fv :NERDTreeToggle<CR>
map <leader>fs <Action>(FileStructurePopup)
map <leader>ss <Action>(EditorSelectWord)
imap <C-j> <Action>(EditorDown)
imap <C-k> <Action>(EditorUp)
imap <C-l> <Action>(EditorChooseLookupItem)
map <leader>ws <Action>(SplitVertically)
map <leader>wl <Action>(NextSplitter)
map <leader>wh <Action>(PrevSplitter)
map <leader>wo <Action>(UnsplitAll)
